<launch>

 <node name="urg_node" pkg="urg_node" type="urg_node" required="true" output="screen">
 	<param name="ip_address" value="192.168.0.11"/>
 	<param name="ip_port" value="10940" />
 </node> 

 <node name="nodding_manager_node" pkg="nodding_laser" type="nodding_manager_node" required="true" output="screen"/>

 </launch>
